body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Aclonica, sans-serif;
    background-color: #efe6d5;
    touch-action: none; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 360px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.chessboard-container {
    position: relative;
    width: 360px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.chessboard {
    width: 360px;
    height: 360px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 0;
    border: 5px solid rgba(51, 94, 94, 0.8);
}

.square {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square.light {
    background-color: #efe6d5;
}

.square.dark {
    background-color: rgba(55, 102, 102, 0.904); 
}

.square::before {
    position: absolute;
    font-size: 12px;
    color: white;
}

.square.light::before {
    color: rgb(0, 0, 0);
}

.user-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time {
    color: #eee9de;
    font-size: 27px;
    padding: 3px;
    border-radius: 100px;
    display: flex; 
    justify-content: center;
    align-items: center; 
    text-align: center; 
    height: 60px; 
    width: 82px; 
    background: rgba(55, 102, 102, 0.904);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.user-info1 {
    width: 260px;
    height: 60px;
    background: rgba(55, 102, 102, 0.904);
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 4px;
}

.user-info2 {
    width: 260px;
    height: 60px;
    background: rgba(55, 102, 102, 0.904);
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 4px;
}

.user-card {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.user-image {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    object-fit: cover; 
}

.username {
    text-align: center;
    color: #eee9de;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.6px;
    font-family: 'Open Sans', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    flex-grow: 1;
    text-align: center;
}

.marg {
    width: 3px;
    height: 10px;
}

.btns {
    width: 360px;
    height: 50px;
    background: rgba(255, 255, 255, 0);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    margin-top: 4px;
}

.action-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-image {
    width: 45px;
    height: 45px;
    background: rgba(55, 102, 102, 0.904);
    border-radius: 20%;
    padding: 3px;
}

.btn-image:hover {
    border: 2px solid rgba(51, 94, 94, 0.8);
}

.rank-label {
    position: absolute;
    top: 2px;
    left: 1px;
    font-size: 12px;
    color: rgb(17, 27, 25);
}

.file-label {
    position: absolute;
    bottom: -1px;
    right: 0.5px;
    font-size: 12px;
    color: rgb(17, 27, 25);
}

.chess-piece {
    width: 90%;
    height: 90%;
    pointer-events: none;
}

.command-container{
    border: 5px solid rgba(55, 102, 102, 0.904);
    /* display: none; */
    .command-btn{
        background-color: rgba(55, 102, 102, 0.904);
    }
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 100%;
}

.modal-content {
    background-color: rgb(41, 73, 73);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid rgb(38, 68, 68);
}

.hidden {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    pointer-events: none !important;
}

p {
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.btn_yn {
    padding: 10px;
    background-color: #efe6d5;
    border-radius: 15px;
    border:none;
    font-size: 15px;
    color: rgb(43, 68, 63);
    font-weight: 600;
}

.modalfull-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efe6d5; 
    background-image: url("reqs/bg3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    z-index: 1000;
}

.modal-content2 p {
    color: rgba(255, 255, 255, 0.863); 
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: -115px;
}

.disabled {
    pointer-events: none; 
    cursor: default; 
}

.disabled .btn-image {
    border: none; 
}

.disabled .btn-image:hover {
    border: none; 
}

.contik {
    width: 360px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -6px;
}

.contik2 {
    width: 360px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -6px;
    margin-top: 1px;
}

#captured-pieces-container {
    display: flex;
    justify-content: space-between;
    max-width: 250px; 
    max-height: 45px; 
    margin-left: -7px;
    margin-right: -10px;
}

.captured-pieces {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:  nowrap; 
}

.captured-pieces img {
    width: 40px;
    height: 40px;
    margin: 0 3px;
}

.mobile-captured-container {
    display: none;
    justify-content: center;
    align-items: center;
    max-width: 360px;
    margin: 10px 0; 
}

.mobile-captured-pieces {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.mobile-captured-pieces img {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

img[src*="3capt_"],
img[src*="4capt_"],
img[src*="5capt_"],
img[src*="6capt_"],
img[src*="7capt_"],
img[src*="8capt_"] {
    transform: scale(1.7);
    transform-origin: center;
}

img[src*="capt_"]:not([src*="3capt_"]):not([src*="4capt_"]):not([src*="5capt_"]):not([src*="6capt_"]):not([src*="7capt_"]):not([src*="8capt_"]) {
    transform: scale(1.4);
    transform-origin: center;
}

* {
    user-select: none; 
}

@media (min-height: 660px) {
    .body {
        height: 100vh;
    }

    .chessboard-container {
        margin: 1px 0;
    }

    .contik2 {
        margin-top: 7px;
    }

    .btns {
        margin-top: 10px;
    }

    #captured-pieces-container {
        display: none;
    }
    .mobile-captured-container {
        display: flex;
    }
    #mobile-captured-top {
        margin-bottom: 8px;
    }
    #mobile-captured-bottom {
        margin-bottom: 15px;
    }
}